.userTripMainDiv {
    background: rgba(207, 113, 141, 0.568);
    padding-top: 0.1rem;
}

.MuiDialogContent-root {
    text-align: center;
}

.MuiTableCell-root {
    background: rgba(0, 87, 128, 0.575);
}