.adminHomeMainDiv {
  background: navy;
  padding-top: 0.1rem;
}

.adminUsersTableDiv {
  background: black;
  color: wheat;
}

.adminDestinationsTableDiv {
  background: darkcyan;
  color: whitesmoke;
}
