.loginMainDiv {
    background: rgba(134, 48, 62, 0.774);
}

#loginFailMessage {
    background: rgba(53, 0, 12, 0.685);
    color: rgb(255, 221, 70);
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #loginFailMessage p {
    padding: 10px 35px;
    font-size: 18px;
  }
  