.registerMainDiv {
  margin-top: 1rem;
  background: rgba(0, 90, 48, 0.596);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #154D41 inset !important;
}

#passwordMessage {
  display: none;
  background: rgba(0, 37, 20, 0.562);
  color: rgb(255, 255, 255);
  position: relative;
  padding: 0.5rem;
}

.valid {
  color: rgb(0, 217, 255);
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: rgb(255, 0, 170);
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
