/* .UserDestinationDisplayMainDiv {
    background-color: black;
    color: green;
} */

/* table {
    background: black;
    color: white;
} */

/* #overrideTableCellStyling {
    color: white;
} */

/* .MuiTableCell-root {
    background: rgba(161, 111, 207, 0.788);
    color: white;
} */